.news-image {

	padding-right: 2.5rem;
	padding-left: 0;
	
	&:after {
		content: "";
		z-index: 4;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.3);
		display: none;
	}
}

.news-info {
	.news-title {
		margin-top: 1em;
	}
	h3 {
		display: block;
	}
}
.news-info {
	padding: 0;
}

.news-item {
	padding: 0;
	@extend .p-3;
	@extend .px-lg-4;
	@extend .py-lg-4;

	@include media-breakpoint-down(lg){
		
		.news-info {
			font-size: 2rem;
		}
	}
	
}

.commission-item, .news-item {

	* {
		color: $primaryBlue;
		// transition: all .1s ease-in-out;
	}

	&:hover {
		background: $primaryBlue;
		.fake-news-image {
			background: white;
		}
		* {
			color: white;
		}
	}
}

.commission-item .row {
	height: 100%;
}

.commission-image-wrapper {
	margin-bottom: 0;
	margin-top: auto;
}

.commission-image {
	width: 100%;
    padding-bottom: 100%;
    position: relative;
	border-radius: 50%;
}


.project-item {
	border: 3px solid $primaryBlue;
	border-radius: 4.2rem;
	display: block;

	&:hover {
		background: $primaryBlue;
		color: white !important;
		text-decoration: none;
	}
}
.project-title {
	font-size: 6rem;

	@include media-breakpoint-up(lg){
		font-size: 11rem;
	}
	// @include media-breakpoint-up(xxl){
	// 	font-size: 14rem;
	// }
	
	font-family: 'Manege', serif;
	letter-spacing: -.28rem;
}

.project-item p {
	font-size: 1.7rem;

	@include media-breakpoint-up(lg){
		font-size: 2.7rem;
	}
}

.my-masonry-grid {
	display: flex;
	margin-left: -30px; /* gutter size offset */
	width: auto;
  }
  .my-masonry-grid_column {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
  }



.artist-item {

	&:hover {
		* {
			text-decoration: none;
		}
	}
	.artist-info {
		justify-content: flex-start;
	}
	.artist-title {
		@extend .text-body;
		@extend .mb-3;
		@extend .mb-lg-4;
		text-align: left;
	}

	.col {
		padding: 1rem;
	}

	@media (min-width: 1280px){
		.col {
			padding: 2rem;
		}
		.artist-info {
			padding-bottom: 0;
			padding-top: calc(2rem - 10px);
		}
		.artist-image {
			padding-top: 0;
		}
	}
	.artist-info {
		padding-bottom: 0;
	}
	.artist-image {
		padding-top: 0;
	}
	
}

.see-all-link {
	display: inline-block;
	border: 1px solid;
	border-radius: 30px;
	padding: 0.15em 0.7em;

	font-size: 20px;

	&:hover {
		text-decoration: none !important;
	}
}


.ticket-block {
	border: 3px solid;
	border-radius: 42px;
	display: block;

	&:hover {
		text-decoration: none;
	}
}

.padding-hack {
	padding: 3rem;
	transform: translateX(-3rem);
}


// BLOCK FILTER

.filter-wrapper {
	display: flex;
	justify-content: flex-start;

	padding: 1.5rem 2rem;

	.Dropdown-root {
		margin-right: 6rem;
	}

	.Dropdown-control {
		@extend .text-body;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	.Dropdown-option {
		word-break: unset;
    	white-space: nowrap;
		color: inherit;
		@extend .text-body-small;


		&:hover, &.is-selected {
			background: black;
			color: white;
		}
	}
	.Dropdown-menu {
		height: auto;
		width: auto;
		min-width: calc(100% + 24px);
		background: white;
		border: 1px solid;
		top: calc(100% + 8px);
		max-height: 30vh;
		// border-radius: 15px;
	}
	.Dropdown-control {
		position: relative;
		padding: 0;
    	padding-right: 2.3rem;
		overflow: visible;
		background-color: transparent;
		border: none;
		margin: 0;
		color: inherit;
	}

	.is-open .Dropdown-arrow {
		border-width: 0 9px 13px;
		border-bottom-color: inherit;
	}

	.Dropdown-arrow {
		border-top-color: inherit;
		border-width: 13px 9px 0;
		right: 0;
    	top: 13px;
	}
	
}