.news-image {

	padding-right: 2.5rem;
	padding-left: 0;
	
	&:after {
		content: "";
		z-index: 4;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.3);
		display: none;
	}
}

.news-info {
	.news-title {
		margin-top: 1em;
	}
	h3 {
		display: block;
	}
}
.news-info {
	padding: 0;
}

.news-item {
	padding: 0;
	@extend .p-3;
	@extend .px-lg-4;
	@extend .py-lg-4;

	@include media-breakpoint-down(lg){
		
		.news-info {
			font-size: 2rem;
		}
	}
	
}

.commission-item, .news-item {

	* {
		color: $primaryBlue;
		// transition: all .1s ease-in-out;
	}

	&:hover {
		background: $primaryBlue;
		.fake-news-image {
			background: white;
		}
		* {
			color: white;
		}
	}
}

.commission-image {
	width: 100%;
    padding-bottom: 100%;
    position: relative;
	border-radius: 50%;
}


.project-item {
	border: 3px solid $primaryBlue;
	border-radius: 4.2rem;
	display: block;

	&:hover {
		background: $primaryBlue;
		color: white !important;
	}
}
.project-title {
	font-size: 6rem;

	@include media-breakpoint-up(lg){
		font-size: 11rem;
	}
	// @include media-breakpoint-up(xxl){
	// 	font-size: 14rem;
	// }
	
	font-family: 'Manege', serif;
	letter-spacing: -.28rem;
}

.project-item p {
	font-size: 1.7rem;

	@include media-breakpoint-up(lg){
		font-size: 2.7rem;
	}
}

.my-masonry-grid {
	display: flex;
	margin-left: -30px; /* gutter size offset */
	width: auto;
  }
  .my-masonry-grid_column {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
  }



.artist-item {
	.artist-info {
		justify-content: flex-start;
	}
	.artist-title {
		@extend .text-body;
		text-align: left;
	}

	.col {
		padding: 0 9px;
	}

	@media (min-width: 1280px){
		.col {
			padding: 0 20px;
		}
	}
	
}


.ticket-block {
	border: 3px solid;
	border-radius: 42px;
	display: block;
}