.news-image {
	padding-right: 2.5rem;
	padding-left: 0;
	float: left;
	width: 55%;

	img {
		height: 100%;
		object-fit: cover;
	}

	&:after {
		content: "";
		z-index: 4;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.3);
		display: none;
	}
}

.square {
	aspect-ratio: 1/1;
}

.news-info {
	.news-title {
		margin-top: 1em;
	}
	h3 {
		display: block;
	}
}
.news-info {
	padding: 0;
}

.news-item {
	padding: 0;
	@extend .p-3;
	@extend .px-lg-4;
	@extend .py-lg-4;

	@include media-breakpoint-down(lg) {
		.news-info {
			font-size: 2rem;
		}
	}
}

.commission-item,
.news-item {
	* {
		color: $primaryBlue;
		// transition: all .1s ease-in-out;
	}

	&:hover {
		background: $primaryBlue;
		.fake-news-image {
			background: white;
		}
		* {
			color: white;
		}
	}
}

.commission-item .row {
	height: 100%;
}

.commission-image-wrapper {
	margin-bottom: 0;
	margin-top: auto;
}

.commission-image {
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	border-radius: 50%;
}

.project-item {
	border: 3px solid $primaryBlue;
	border-radius: 4.2rem;
	display: block;

	&:hover {
		background: $primaryBlue;
		color: white !important;
		text-decoration: none;
	}
}
.project-title {
	font-size: 6rem;

	@include media-breakpoint-up(lg) {
		font-size: 11rem;
	}
	// @include media-breakpoint-up(xxl){
	// 	font-size: 14rem;
	// }

	font-family: "Manege", serif;
	letter-spacing: -0.28rem;
}

.project-item p {
	font-size: 1.7rem;

	@include media-breakpoint-up(lg) {
		font-size: 2.7rem;
	}
}

.my-masonry-grid {
	display: flex;
	margin-left: -30px; /* gutter size offset */
	width: auto;
}
.my-masonry-grid_column {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
}

.product-item {

	display: flex;
    flex-direction: column;
    justify-content: flex-end;

	.product-title {
		@extend .text-body;
		@extend .mb-3;
		@extend .mb-lg-4;
		text-align: left
	}
	&:hover {
		background: $primaryBlue;

		h3 {
			color: white;
		}
	}
	.product-image {
		position: relative;
		padding: 0;
		aspect-ratio: 1/1;

		.product-formats {
			position: absolute;
			position: absolute;
			right: 14px;
			bottom: 14px;

			span {
				@extend .text-body-small;
				background: white;
				display: block;
				margin-top: 8px;
				padding: 9px 12px;
				width: 100%;
				text-transform: capitalize;
			}
		}
	}
}

.no-edition {
	.carousel-nav .active {
		background: $primaryBlue;
	}
}

.artist-item {
	&:hover {
		text-decoration: none;
	}
	.artist-info {
		justify-content: flex-start;
	}
	.artist-title {
		@extend .text-body;
		@extend .mb-3;
		@extend .mb-lg-4;
		text-align: left;
	}

	.col {
		padding: 1rem;
	}

	@media (min-width: 1280px) {
		.col {
			padding: 2rem;
		}
		.artist-info {
			padding-bottom: 0;
			padding-top: calc(2rem - 10px);
		}
		.artist-image {
			padding-top: 0;
		}
	}
	.artist-info {
		padding-bottom: 0;
	}
	.artist-image {
		padding-top: 0;
		aspect-ratio: 3 / 2;

		img {
			height: 100%;
			object-fit: cover;
		}
	}
}

.see-all-link {
	display: inline-block;
	border: 1px solid;
	border-radius: 30px;
	padding: 0.15em 0.7em;

	font-size: 20px;

	&:hover {
		text-decoration: none !important;
	}
}

.ticket-block {
	border: 3px solid;
	border-radius: 42px;
	display: block;

	&:hover {
		text-decoration: none;
	}
}

.padding-hack {
	padding: 3rem;
	transform: translateX(-3rem);
}

// BLOCK FILTER

.filter-wrapper {
	display: flex;
	justify-content: flex-start;
	margin: 1.5rem 2rem;

	.Dropdown-root {
		margin-right: 5vw;
	}

	.Dropdown-control {
		@extend .text-body;
	}

	.Dropdown-arrow {
		top: 0.4em;
	}
}

.Dropdown-control {
	cursor: pointer;

	&:hover {
		text-decoration-line: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 2px;
	}
}

.Dropdown-option {
	word-break: unset;
	white-space: nowrap;
	color: inherit;
	@extend .text-body-small;
	padding: 12px 16px;

	&:hover,
	&.is-selected {
		background: black;
		color: white;
	}
}

@media (max-width: 480px) {
	.filter-wrapper .Dropdown-control {
		font-size: 22px;
	}
}

.Dropdown-menu {
	height: auto;
	width: auto;
	min-width: calc(100% + 24px);
	background: white;
	border: 1px solid;
	top: calc(100% + 8px);
	max-height: 30vh;
	// border-radius: 15px;
}
.Dropdown-control {
	position: relative;
	padding: 0;
	padding-right: 2.3rem;
	overflow: visible;
	background-color: transparent;
	border: none;
	margin: 0;
	color: inherit;
}

.is-open .Dropdown-arrow {
	border-width: 0 0.2em 0.3em;
	border-bottom-color: inherit;
}

.Dropdown-arrow {
	border-top-color: inherit;
	border-width: 0.3em 0.2em 0;
	right: 0;
}
