.cart-item {
	display: flex;
	margin-bottom: 2rem;
	padding: 2rem;

	&:hover {
		text-decoration: none;
		background-color: $primaryBlue;
		color: white;
	}

}

.cart-info {
	display: block;
    font-size: 4rem;
    margin-bottom: 4rem;
}

.cart-image-wrapper {
	max-width: 370px;
	aspect-ratio: 1/1;

	img {
		height: 100%;
		object-fit: cover;
	}
}

.cart-item-info {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	h3 {
		font-family: $serifFont;
		@extend .text-body;
	}

	.quantity, .price span {
		display: block;
		@extend .text-body-small;
	}

	.price {
		margin-top: auto;
		margin-bottom: 0;
	}

}

.checkout-info{
	@extend .mt-6;
	h4 {
		@extend .text-body;
	}
} 

.checkout-btn {
	@extend .text-body;
	@extend .mt-5;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 35px;
	border: 2px solid $primaryBlue;
	padding: 1.1rem 1.5rem;

	&:hover {
		text-decoration: none;
		background-color: $primaryBlue;
		color: white;
	}
}