.cart-item {
	display: flex;
	margin-bottom: 2rem;
	padding: 2rem;

	&:hover {
		text-decoration: none;
		background-color: $primaryBlue;
		color: white;
	}
}

.cart-info {
	display: block;
	font-size: 4rem;
	margin-bottom: 4rem;
}

.cart-image-wrapper {
	max-width: 370px;
	aspect-ratio: 1/1;

	@supports not (aspect-ratio: 1 / 1) {
		padding-top: 66%;
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	img {
		min-height: 100%;
		object-fit: cover;
	}
}

.cart-item-info {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	h3 {
		font-family: $serifFont;
		@extend .text-body;
	}

	.quantity,
	.price span {
		display: block;
		@extend .text-body-small;
	}

	.price {
		margin-top: auto;
		margin-bottom: 0;
	}
}

.checkout-info {
	@extend .mt-6;
	h4 {
		@extend .text-body-small;
	}
	.total {
		font-size: 5rem;
	}
}

.checkout-btn {
	@extend .text-body;
	@extend .mt-5;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 35px;
	border: 2px solid $primaryBlue;
	padding: 1.1rem 1.5rem;

	&:hover {
		text-decoration: none;
		background-color: $primaryBlue;
		color: white;
	}
}

.card-element {
	border: 0.1rem solid #d1d1d1;
	border-radius: 0.4rem;
	box-shadow: none;
	box-sizing: inherit;
	padding: 0.6rem 1rem 0.7rem;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
	border-color: $primaryBlue;
}

.StripeElement--focus {
	border-color: $primaryBlue;
}

.checkout-total {
	margin-top: 4rem;
	@extend .text-body-small;
	background: #f4f5f6;
	border-left: 2px solid $primaryBlue;
	padding: 2rem 1rem;
	max-width: 100%;
	text-align: right;
	max-width: 445px;
	font-family: $sansFont;
	line-height: 1.5;

}

.form-element {
	margin-bottom: 1rem;
}

.error {
	color: $errorRed;
}
