html, body {
	margin: 0;
	padding: 0;
}
body {
	background: #fff !important;
	color: $primaryBlue
}

.container {
	max-width: 190rem;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 45px auto;
}

.column {
	margin: 0 25px;
	> * {
		flex-shrink: 0;
	}
}

.column-100 {
	flex: 0 0 calc(100% - 50px);
}
.column-50 {
	flex: 0 0 calc(50% - 50px);
}

.d-flex{
	display: flex;
	> * {
		flex-shrink: 0;
	}
}