figure {
	margin: 0;

	figcaption p{
		font-family: 'Manege', serif;
		// font-size: 3.4rem;
		font-size: 1.4rem;
		margin-top: .5em;
		@include media-breakpoint-up(lg){
			font-size: 2.75rem;
		}
	}
}

.img-fluid {
	width: 100%;
	height: auto;
	display: block;
}