.social-footer {
	border-top: 3px solid;
	border-bottom: 3px solid;	
	border-color: $primaryBlue;
	color: $primaryBlue;
	background: white;
	padding: 4rem 0;
	h1 {
		margin-bottom: .2em;
		font-family: $serifFont
	}
}

footer {
	height: 30rem;
	margin: 0;
	background: white;
	color: $primaryBlue;
}

.social-links {
	width: 100%;
	margin-top: 2rem;
	a {
		width: 200px;
		display: inline-block;

		@extend .text-body-small;
	}

	@media (min-width: 992px){
		margin-top: 0;
		width: auto;
		&.social-one {
			padding-right: 0;
		}
		&.social-two {
			padding-right: 0;
			padding-left: 0;
		}
		&.social-three {
			padding-left: 0;
		}
		a {
			margin-right: 7.4rem;
			width: auto;
		}

	}

}

.menu-padding {
	padding-top: $headerHeight;
}

.header-wrapper,
.edition-menu-wrapper {
	z-index: 9;
	position: fixed;
	left: 0;
    width: 100%;
	height: $headerHeight;
    display: flex;
    align-items: center;
	padding: 1.25rem 2rem;
}
.edition-menu-wrapper {
	border-bottom: 3px solid;
	top: 0;
}
.header-wrapper {
    bottom: 0;
	background: white;
    border-top: 3px solid $primaryBlue;
    justify-content: space-around;
	
	a {
		@extend .text-body-small;
		text-transform: uppercase;
		color: $primaryBlue !important;
		

		&:hover {
			text-decoration: underline;
		}
	}

	h4 {
		margin: 0;
	}
}

.main-nav {
	flex-grow: 1;
    display: flex;
    justify-content: flex-end;

	a {
		padding: 1rem;
	}

	ul, li {
		margin: 0;
    	padding: 0;
	}

	
}

.edition-nav {
	ul, li {
		margin: 0;
		padding: 0;
	}
	a {
		@extend .text-body-small;
		padding: 1rem;

		&:first-of-type {
			padding-left: 0;
			margin-left: 0;
		}
		&:hover {
			text-decoration: underline;
		}
	}
		
}

.lang-swither, .cart-header {
	border: 3px solid $primaryBlue;

	&:hover {
		text-decoration: none !important;
		color: white;
		background: $primaryBlue;
	}
}

.cart-header {
	border-radius: 3.5rem;
}

.lang-swither {
	border-radius: 50%;
}