.fake-news-image {
	width: 450px;
	height: 450px;
	background: $primaryBlue;
	margin-right: 20px;
	float: left;
}

.news-item {
	padding: 15px;
	margin-bottom: 2rem;
	transition: all .1s ease-in-out;
	* {
		color: $primaryBlue;
		transition: all .1s ease-in-out;
	}

	&:hover {
		background: $primaryBlue;
		.fake-news-image {
			background: white;
		}
		* {
			color: white;
		}
	}
}

.news-info h3 {
	display: block;
}