// HOME PAGE

.top-header {
	display: flex;
	overflow-x: hidden;

	> * {
		font-size: 1.8rem;
	}
	&.desktop {
		> * {
			padding: 1rem 0;
			display: inline-block;
			margin-right: 3.5rem;
			font-size: 2.5rem;

			@include media-breakpoint-up(xl) {
				font-size: 3.5rem;
				margin-right: 5rem;
			}
		}
	}
	&.mobile {
		flex-wrap: wrap;
		margin-left: 1rem;
		> * {
			display: block;
			flex-basis: 100%;
		}
	}
}

// EDITION PAGE

.edition-title {
	padding-top: 1.5rem;
	> div:not(:first-of-type) h1 {
		margin-top: -0.15em;
	}
}

// ABOUT & INFO PAGE

.no-edition .about-nav {
	top: 1.5rem;
}

.edition-web .about-nav {
	top: calc(#{$headerHeight} + 1.5rem);
}
.about-nav {
	@extend .sticky;
	margin-bottom: 80px;

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
		}
	}
}

.about-title {
	font-family: $sansFont;
	font-size: 5rem;
}

.info-content p {
	margin-bottom: 1.5em;
}

.about-content {
	> div {
		padding-top: 20px;
		margin-top: -20px;
	}
	p,
	figure {
		margin-bottom: 1.5em;
	}
}

.info-content {
	padding-top: 20px;
	> div {
		padding-top: 100px;
		margin-top: -100px;
	}
}

.partners-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.partner-image {
		max-width: 36%;
		width: 150px;
		margin: 0 20px 20px 20px;
		img {
			width: 100%;
		}
	}
}

// @media (min-width: 992px) {
// 	.info-content {
// 		transform: translateY(calc(#{$headerHeight} * -1 - 30px));
// 		> div {
// 			padding-top: calc(#{$headerHeight} + 30px);
// 		}
// 	}
// }

// SINGLE PAGES
@media (min-width: 992px) {
	.sticky-carousel {
		height: 100%;
		position: sticky;
		top: calc(#{$headerHeight} + 1.5rem);
		padding-right: 4rem;
	}
}

// TICKETS

.goOutHolder {
	max-width: 190rem;
	margin: 0 auto;
}



// PROJECT PAGE

.small-images p img {
	display: inline;
	max-width: 40%;
	height: auto;
}

.project-menu {
	background: white;
	margin-top: 0 !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.project-nav {
	align-items: center;
	height: 100%;
	ul {
		display: flex;
		margin: 0;
		padding:0;
		height: 100%;
		align-items: center;

		li {
			margin: 0;
			&:not(:first-of-type){
				margin-left: 1rem;
			}

			&.active a{
				text-decoration: underline;
			}

			a {
				@extend .text-nav-small;
			}
		}
	}
}

.menu-images {
	display: flex;
	align-items: center;
	figure {
		max-height: 40px;
	}

	.single-menu-image {
		&:not(:last-of-type){
			margin-right: 2rem;
		}
	}
}


#project-about,
#project-grants,
#project-news,
#project-pictures,
#project-videos {
	padding-top: 100px;
	margin-top: -100px;
}