.media-container {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 99px 0 #4a4af1;
	border-bottom-right-radius: 7rem;

	background-clip: padding-box;
	overflow: hidden;
}

.top-video-title,
.top-video-link {
	padding: 2.5rem 0;
	background: white;
	display: block;
	@extend .text-body;
}

.main-title-wrapper {
	max-width: 100%;
	padding-right: 10%;
	position: relative;
	margin-bottom: 14rem;
}

@media screen and (max-width: 960px) {
	.top-video-link {
		text-align: center;
		position: absolute;
		padding: 2.5rem 16px;
	}
}

@media screen and (min-width: 961px) {
	.media-container {
		border-bottom-right-radius: 16rem;
	}
	.main-title-wrapper {
		padding: 0;
		max-width: 80%;
	}
	.top-video-link {
		padding: 2.5rem 0;
		right: -20px;
		top: 50%;
		padding: 1em;
		transform: rotate(-90deg) translateX(50%);
		transform-origin: 100% 0;
		position: absolute;
		max-width: 50vw;
		text-align: center;
	}
}

.home-video {
	width: 100%;
	height: auto;
	display: block;
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;

	&-home {
		position: relative;

		&.has-overlay:before {
			opacity: 1;
		}
	}
}

.inline-player {
	height: auto !important;
	> div {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
