.media-container {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 99px 0 #4a4af1;
}


.top-video-title,
.top-video-link {
	padding: 2.5rem 0;
	background: white;
	display: block;
	@extend .text-body;
}

.media-wrapper .react-player-home div {
	position: relative;
	padding-bottom: 56.25%;

	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	pointer-events: none;

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;

	&-home {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: $primaryBlue;
			opacity: 0;
			transition: opacity .4s ease-in-out;
		}

		&.has-overlay:before {
			opacity: 1;
		}
	}
}

.inline-player {
	height: auto !important;
	 > div {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	 }
}