.no-padding > {
	.row .col {
		padding-left: 0;
		padding-right: 0;
	}
}

.product-carousel {
	@include media-breakpoint-up(lg){
		position: sticky;
		top: 4.5rem;
		height: 100%;
	}
	margin-bottom: 4rem;
}

.product-page-title {
	margin-bottom: 0.2em;
}
.product-page-title,
.product-subtitle {
	@extend .sans-serif-type;
	font-size: 5rem;
}

.product-subtitle {
	margin-top: -1rem;
	margin-bottom: 4rem;
	display: block;
}

.formats {
	line-height: 1.1;
	font-size: 24px;

	@media screen and (min-width: 960px){
		font-size: 28px;
	}

	@media screen and (min-width: 1280px){
		font-size: 32px;
	}

	@media screen and (min-width: 1920px){
		font-size: 36px;
	}

	.price {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.cart-button {
		margin-left: 2rem;
	}
}
