@font-face {
	font-family: "Manege";
	src: local("Manege Light"), local("Manege-Light"),
		url("./type/Manege-Light.woff2") format("woff2"),
		url("./type/Manege-Light.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gramatika";
	src: local("Gramatika Regular"), local("Gramatika-Regular"),
		url("./type/Gramatika-Regular.woff2") format("woff2"),
		url("./type/Gramatika-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

$sansFont: "Gramatika", sans-serif;
$serifFont: "Manege", serif;

* {
	-webkit-font-smoothing: antialiased !important;
}


.festival-web {
	h1,
	.serif-title {
		font-family: $serifFont;
	}
}

.edition-web {
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: $sansFont;
	}
}
h1 {
	line-height: .95;
}
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: unset;
}

.text-xxxl {
	font-size: 50px;
}

.text-body {
	line-height: 0.9;
	letter-spacing: 0.02em;
}

.text-body-small {
	font-size: 20px;
	letter-spacing: 0.02em;
	line-height: .9;
}
.text-small {
	font-size: 17px;
}

.text-body {
	font-size: 24px;
	line-height: 1;
}
@media screen and (min-width: 768px) {
	.text-xxxl {
		font-size: 62px;
	}
	.text-body-small {
		font-size: 24px;
	}
	.text-body {
		font-size: 28px;
	}
}

@media screen and (min-width: 960px) {
	.text-xxxl {
		font-size: 90px;
	}
	.text-body {
		font-size: 34px;
	}
}

@media screen and (min-width: 1240px) {
	.text-xxxl {
		font-size: 120px;
	}
	.text-body {
		font-size: 38px;
	}
	.text-body-small {
		font-size: 28px;
	}
	.text-small {
		font-size: 26px;
	}
}

@media screen and (min-width: 1600px) {
	.text-body {
		font-size: 48px;
	}
}

@media screen and (min-width: 1920px) {
	.text-xxxl {
		font-size: 140px;
		line-height: 0.875;
	}
	.text-body {
		font-size: 50px;
	}
	.text-body-small {
		line-height: 1;
		font-size: 35px;
	}
}

.small {
	@extend .text-small;
}

h1 {
	@extend .text-xxxl;
	margin: 0;
}

.festival-page-title {
	@extend .text-body;
	font-family: $serifFont;

	a {
		font-size: inherit;
	}
}

a {
	color: inherit;

	text-underline-offset: 2px;
    text-decoration-thickness: 2px;

	&:visited {
		color: inherit;
	}

	&.with-icon {
		display: flex;
		svg {
			margin-left: 5px;
			text-decoration: underline;
		}
	}

	&.with-underline {
		&:hover {
			text-decoration: underline;
		}
	}
}

.normal-line-height {
	line-height: initial;
}

p > a {
	text-decoration-line: underline;
}

a:hover {
	text-decoration-line: underline;
}
.text-underline {
	text-decoration-line: underline;
}
.text-uppercase {
	text-transform: uppercase;
}
a.active {
	text-decoration-line: underline;
}

.big-button {
	font-family: "Manege", serif;
	font-size: 5rem;
}
body {
	font-family: "Gramatika", sans-serif;
}

.main-title-wrapper {
	overflow: hidden;
	display: flex;
	justify-content: center;

	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
		margin-bottom: 1rem;
		> * {
			flex-basis: 100%;
		}
	}
}

h1.main-title {
	font-family: $sansFont;
	display: block;
	z-index: -1;
	position: relative;
	font-size: 51.5vw;
	width: auto;
	text-align: center;
	color: $primaryBlue;
	margin: 0;
	padding: 0;
	line-height: 0.75;

	@include media-breakpoint-up(md) {
		margin-top: -1.2vw;
	}

	@include media-breakpoint-down(md) {
		font-size: 111vw;
		&:first-of-type {
			margin-bottom: -5.7vw;
		}
		span {
			display: block;
		}
	}
}

h1.single-title {
	@include media-breakpoint-up(xl) {
		// font-size: 9rem;
		max-width: 90%;
	}
	@include media-breakpoint-up(xxl) {
		max-width: 75%;
		// font-size: 11rem;
	}
	text-align: center;
	font-family: "Manege";

	margin: 0 auto 4rem auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-size: 9rem;
	line-height: 1;
}

h3 {
	@include media-breakpoint-up(xl) {
		font-size: 4.5rem;
	}
	@include media-breakpoint-up(xxl) {
		font-size: 5rem;
	}
	@include media-breakpoint-up(lg) {
		font-size: 3.5rem;
	}
	font-size: 3.2rem;

	line-height: 0.9;
}

p {
	line-height: 1.175;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

.paragraph {
	h1,
	h2,
	h3,
	h4,
	h5 {
		@extend .text-body;
	}

	strong, b {
		font-weight: normal !important;
	}

	a {
		font-size: inherit;
	}

	p:not(:first-of-type) {
		margin-top: 3rem;
	}
}

p{
	@extend .text-body-small;
}
.big {
	@extend .text-body;
}

.text-big p {
	margin-bottom: 0.875em;
}

.text-big,
.text-big p {
	@extend .text-body;
}

.text-center {
	text-align: center;
}

a:hover,
a:focus {
	color: inherit;
}

.hollow-link {
	@extend .text-xxxl;
	line-height: .845;
	-webkit-text-stroke: 1px;
	-webkit-text-fill-color: transparent;
	cursor: pointer;

	&:hover,
	&.active,
	.active & {
		-webkit-text-fill-color: inherit;
		-webkit-text-stroke: 0px;
		text-decoration: none;
	}
}

.hollow {
	-webkit-text-stroke: 1px $primaryBlue;
	-webkit-text-fill-color: transparent;

	font-size: 14rem;
}

.cart-button {
	border: 3px solid $primaryBlue;
	border-radius: 3.5rem;
	padding: 1.2rem 2.5rem;
	color: $primaryBlue;
	text-transform: uppercase;
	height: auto;
	display: inline-block;

	&:hover {
		background: $primaryBlue;
		border-color: $primaryBlue;
	}
}

hr {
	border-top: 3px solid;
}
