@font-face {
    font-family: 'Manege';
    src: local('Manege Light'), local('Manege-Light'),
        url('./type/Manege-Light.woff2') format('woff2'),
        url('./type/Manege-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gramatika';
    src: local('Gramatika Regular'), local('Gramatika-Regular'),
        url('./type/Gramatika-Regular.woff2') format('woff2'),
        url('./type/Gramatika-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


a {
	color: $primaryBlue;
	&:visited {
		color: inherit;
	}
}

.big-button {
	font-family: 'Manege', serif;
	font-size: 5rem;
}
body {
	font-family: 'Gramatika', sans-serif;
}

h1.main-title {
	font-size: 35vw;
	text-align: center;
	color: $primaryBlue;
	margin: 0;
	padding: 0;
	line-height: .8;
}

h1.single-title {
	font-size: 14rem;
	text-align: center;
	font-family: 'Manege';
	max-width: 75%;
	margin: 0 auto 4rem auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-size: 14rem;
	font-family: 'Manege', serif;
}

h3 {
	font-size: 5rem;
	line-height: .9;
}

p {
	font-size: 3.4rem;
	line-height: 1.175;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-big p {
	font-size: 5rem;
	line-height: 1;
}

.text-center {
	text-align: center;
}